/vendor
/node_modules
/public/storage
/storage
/public/.htaccess
Homestead.yaml
Homestead.json
.env
.env_uat
.env_local
.env_production
~.env_production
.env_production~
~.env_local
.env_local~
~.env_uat
.env_uat~
~.env
.env~
/nbproject
.deploy
phpunit.xml
package-lock.json
webpack.mix.js
.history

/code_coverage
/public/js/app-compiled.js
/public/js/app.js
/public/mix-manifest.json
/public/css/main_compiled_v2.css
/public/css/v2/app.css
/public/js/compiled/feed_page.js
/public/js/compiled/main_compiled-v2.js
/public/js/compiled/main_compiled.js
/public/css/main_compiled.css
/public/space_categories.xls